/Debug/
/Release/
_build/
/Makefile.local
/doc/
/logs/
/Debug52/
/deploy/current.txt
/.settings/
/NRF51_BOARD/
enc_temp_folder

# Visual Studio ignore
.vs/
*.suo
*.userosscache
*.sln.docstates
*.user
*.userprefs